li {
    list-style-type: none;
    padding: 10px;
}

.vertical-line {
    border-left: 6px solid black;
    height: 500px;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}